In [9]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv("data/all.csv", header = None)
df.columns = ["student", "task", "percentile"]

In [13]:
# Get one random test from each user
size = 1        
replace = False  
fn = lambda obj: obj.loc[np.random.choice(obj.index, size, replace),:]
test = df.groupby("student", as_index=False).apply(fn)
test.index = [a[1] for a in test.index]

In [31]:
outer_join = df.merge(test, how = 'outer', indicator = True)

train = outer_join[~(outer_join._merge == 'both')].drop('_merge', axis = 1)

In [35]:
train.to_csv("data/train.csv", header=False, index=False)
test.to_csv("data/test.csv", header=False, index=False)

In [33]:
df

       student  task  percentile
0            1     8           3
1            1     6           4
2            1     9           4
3            1     5           4
4            1     4           5
...        ...   ...         ...
43808     4704     4           2
43809     4704     3           3
43810     4704     7           4
43811     4704     1           3
43812     4704     2           5

[43813 rows x 3 columns]